html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td, input {
margin: 0;
padding: 0;
}
.fileupload-buttonbar .btn, .fileupload-buttonbar .toggle {
    margin-bottom: 5px;
}
.fileinput-button {
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 4px;
}
.btn-success {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: rgb(91, 183, 91);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(98, 196, 98)), to(rgb(81, 163, 81)));
    background-image: -webkit-linear-gradient(top, rgb(98, 196, 98), rgb(81, 163, 81));
    background-image: -o-linear-gradient(top, rgb(98, 196, 98), rgb(81, 163, 81));
    background-image: linear-gradient(to bottom, rgb(98, 196, 98), rgb(81, 163, 81));
    background-image: -moz-linear-gradient(top, rgb(98, 196, 98), rgb(81, 163, 81));
    background-repeat: repeat-x;
    border-color: rgb(81, 163, 81) rgb(81, 163, 81) rgb(56, 112, 56);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn {
    border-color: rgb(197, 197, 197);
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
.btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 30px;
    color: rgb(51, 51, 51);
    text-align: center;
    text-shadow: 5 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: whiteSmoke;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(174,232,255)), to(rgb(100, 174, 255)));
    background-image: -webkit-linear-gradient(top, rgb(174,232,255), rgb(100, 174, 255));
    background-image: -o-linear-gradient(top, rgb(174,232,255), rgb(100, 174, 255));
    background-image: linear-gradient(to bottom, rgb(174,232,255), rgb(100, 174, 255));
    background-image: -moz-linear-gradient(top, rgb(174,232,255), rgb(100, 174, 255));
    background-repeat: repeat-x;
    border: 1px solid rgb(187, 187, 187);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: rgb(230, 230, 230) rgb(230, 230, 230) rgb(191, 191, 191);
    border-bottom-color: rgb(162, 162, 162);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
}
.icon-plus {
    background-position: -408px -96px;
}
.icon-white, .nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"], .nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"], .navbar-inverse .nav > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"], .dropdown-submenu:hover > a > [class^="icon-"], .dropdown-submenu:hover > a > [class*=" icon-"] {
    background-image: url("../Tpl/Video/img/glyphicons-halflings-white.png");
}
[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../img/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}
[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../img/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}
select, input[type="file"] {
    height: 30px;
    line-height: 30px;
}
input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
    width: auto;
}
bootstrap-responsive.min.css:11@media (min-width: 1200px)
input, textarea, .uneditable-input {
        margin-left: 0;
    }
    input, textarea, .uneditable-input {
        margin-left: 0;
    }
    input, textarea, .uneditable-input {
        width: 206px;
    }
    input, button, select, textarea {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    label, input, button, select, textarea {
        font-size: 14px;
        font-weight: normal;
        line-height: 20px;
    }
    button, input {
        line-height: normal;
    }
    button, input, select, textarea {
        margin: 0;
        font-size: 100%;
        vertical-align: middle;
    }



/*========*/


p {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

.feed-bd .feed-fav, .feed-bd .feed-rt, .feed-bd .feed-cmt, .feed-bd .feed-del, .feed-bd .feed-edit, .feed-bd .feed-nt, .feed-bd .feed-block, .feed-bd .feed-top, .feed-bd .feed-untop, .feed-bd .feed-report, .feed-bd .editor-promote-cancel, .feed-bd .editor-warning, .feed-bd .editor-black, .feed-bd .editor-black-top10, .feed-bd .editor-unblack-top10 {
margin-left: 10px;
float: right;
height: 16px;
line-height: 16px;
color: #B4B4B4;
cursor: pointer;
}

div {
display: block;
}

div#header-holder {
height: 72px;
background: url(http://localhost:8887/blog/Tpl/Home/img/header.$5752.png) repeat-x 0 -20px;
}

body {
font-size: 12px;
font-family: "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "??????", Tahoma, Arial, STHeiti, sans-serif;
cursor: default;
}
#header-holder #header_logo {
	background-image: url(../img/header_logo.png);
	height: 56px;
	width: 278px;
	position: relative;
	top:10px;
	left:10%;
	margin:0 auto;
	float:left;
}
#header-holder h1 {
	float: left;
	position: relative;
	left:7%;
	top: 30px;
	margin:0 auto;
	color: #FFF;
	font-size: 18px;
	font-weight: normal;
}


/*
*========
*/

body{
background: url(../img/content-holder.$5106.png) repeat;
}
/*
div#content-holder {

background: url(../img/2012.05.28-352.jpg) ;
background-repeat: no-repeat;
background-attachment: fixed;

padding-bottom: 20px;
padding-top: 20px;
}*/



/*
* ??????????
*/

.publisher {
margin-bottom: 15px;
position: relative;
z-index: 2;
}

.clearfix::after, #content::after {
content: " 20";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.clearfix, #content {
zoom: 1;
}
.publisher .pb-avatar {
float: left;
position: relative;
}


/*??????????????*/
.publisher .pb-avatar a.blog-avatar {
display: block;
width: 64px;
height: 64px;
background-position: center center;
text-indent: -9999px;
outline: none;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
box-shadow: 0 1px 2px #B0B3B6;
-moz-box-shadow: 0 1px 2px #b0b3b6;
-webkit-box-shadow: 0 1px 2px #B0B3B6;
box-shadow: 0 1px 2px #B0B3B6;
-moz-box-shadow: 0 1px 2px #b0b3b6;
-webkit-box-shadow: 0 1px 2px #B0B3B6;
box-shadow: 0 1px 2px #B0B3B6;
-moz-box-shadow: 0 1px 2px #b0b3b6;
-webkit-box-shadow: 0 1px 2px #B0B3B6;
}

a, a:link, a:visited {
text-decoration: none;
color: #307DCA;
cursor: pointer;
}

/*
* ?��?????
*/

.publisher .pb-action-holder {
float: left;
width: 544px;
position: relative;
margin: -2px -2px -2px 19px;
}

/*��?????*/
.publisher .pb-triangle {
height: 20px;
width: 13px;
background: url(../img/feed-icons.$6973.png) no-repeat 0 -150px;
position: absolute;
left: -11px;
top: 24px;
z-index: 1;
overflow: hidden;
}
/*?��???????????*/
.pb-action-shadow-top {
height: 5px;
background: url(../img/feed-bg-sprites.$5106.png) 0 0 no-repeat;
}

/*?��??????��?*/
.publisher .pb-action {
background: url(../img/feed-bg-sprites.$5106.png) -1200px 0 repeat-y;
}
/*?��??��?*/
.publisher .pb-action ul {
padding: 10px 20px 5px;
}


ul {
list-style: none;
}
/*?��???????????*/
.pb-action-shadow-bottom {
height: 10px;
background: url(../img/feed-bg-sprites.$5106.png) -600px bottom no-repeat;
}

.publisher .pb-action li a {
display: block;
width: 100px;
height: 74px;
background: url(../img/publisher.$5752.png) no-repeat 0 0;
text-indent: -9999px;
outline: none;
}

li {
text-align: -webkit-match-parent;
float:left;
}

a, a:link, a:visited {
text-decoration: none;
color: #307DCA;
cursor: pointer;
}

.publisher .pb-action .text:hover {
background-position: 0 -74px;
}
.publisher .pb-action .photo {
background-position: -100px 0;
}
.publisher .pb-action .photo:hover {
background-position: -100px -74px;
}
.publisher .pb-action .music {
background-position: -200px 0;
}
.publisher .pb-action .music:hover {
background-position: -200px -74px;
}
.publisher .pb-action .video {
background-position: -300px 0;
}
.publisher .pb-action .video:hover {
background-position: -300px -74px;
}
.publisher .pb-action .link {
background-position: -400px 0;
}
.publisher .pb-action .link:hover {
background-position: -400px -74px;
}

/*fead-list*/
.feed-list {
clear: both;
}

.feed {
margin: 10px 0;
color: #444;
padding: 5px 0;
position: relative;
}

.feed, .feed-hd, .feed-bd {
zoom: 1;
}

.feed::after, .feed-hd::after, .feed-bd::after {
content: " 20";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
/*??????*/
.feed .feed-avatar {
float: left;
position: relative;
width: 64px;
height: 64px;
zoom: 1;
}

.feed .feed-avatar .blog-menu-info {
position: relative;
}

.feed .feed-avatar a.blog-avatar {
display: block;
width: 64px;
height: 64px;
background-position: center center;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
text-indent: -9999px;
outline: none;
border: none;
-moz-box-shadow: 0 1px 2px #b0b3b6;
-webkit-box-shadow: 0 1px 2px #B0B3B6;
box-shadow: 0 1px 2px #B0B3B6;
background-color: #B0B3B6;
}

/*?��?feed????????*/
.feed-content-holder {
margin: -1px -2px -4px;
width: 544px;
float: left;
position: relative;
left:21px;
zoom: 1;
}

/*?????*/
.feed .pop-triangle {
height: 20px;
width: 13px;
position: absolute;
left: -11px;
top: 25px;
background: url(../img/feed-icons.$6973.png) no-repeat 0 -150px;
}
/*????*/
.feed-container-top {
height: 5px;
background: url(../img/feed-bg-sprites.$5106.png) 0 0 no-repeat;
_background: url(../img/feed-bg-sprites.$5106.png) 0 0 no-repeat;
}

/*feed content*/
.feed .pop-content {
background: url(../img/feed-bg-sprites.$5106.png) -1200px 0 repeat-y;
_background: url(../img/feed-bg-sprites.$5106.png) -1200px 0 repeat-y;
}

.clearfix::after, #content::after {
content: " 20";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
/*????????*/
.feed .feed-hd {
padding: 15px 22px 0;
overflow: hidden;
}
.feed::after, .feed-hd::after, .feed-bd::after {
content: " 20";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.feed-hd .feed-basic {
float: left;
height: 16px;
line-height: 1;
width: 370px;
overflow: hidden;
}

/*????*/
.feed .feed-bd {
padding: 0 22px 6px;
}

.feed-bd .feed-ct {
clear: both;
clear: both;
word-wrap: break-word;
margin: 0 0 10px;
width: 500px;
overflow: hidden;
}
.feed-bd .feed-img-thumb, .feed-bd .feed-img-all {
margin-top: 10px;
}
.feed-big-img {
position: relative;
overflow: hidden;
zoom: 1;
}
.feed-img-all .feed-big-img img {
display: block;
background: white url(../img/loading-small.$6925.gif) no-repeat center center;
_float: none;
}
.feed-img-too-high-tip {
display: none;
height: 32px;
background: url(/img/element/feed-img-too-high-tip.$5594.png) center 0;
width: 100%;
text-indent: -9999px;
}
/*?????footer*/
.feed-bd .feed-tag {
float: left;
color: #A8B1BA;
width: 200px;
height: 22px;
line-height: 14px;
overflow: hidden;
display: block;
}
.clearfix::after, #content::after {
content: " 20";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

/*tag*/
.feed-bd .feed-tag a {
float: left;
margin-right: 6px;
height: 19px;
line-height: 19px;
margin-bottom: 10px;
}
/*?????*/
.feed-bd .feed-act {
float: right;
height: 22px;
}
/*???*/
.feed-bd .feed-act a, .feed-contribute-preview-form {
margin-left: 10px;
float: right;
height: 18px;
line-height: 18px;
}
.feed-bd .feed-fav {
background: url(../img/feed-icons.$6973.png) no-repeat scroll -59px -27px;
_background: url("/img/icon/feed-icons-ie.$5234.png") no-repeat scroll -59px -27px;
text-indent: -9999em;
width: 16px;
height: 16px;
}



/*?��??*/
.feed-ft-bottom, .feed-container-bottom {
height: 10px;
font-size: 0;
line-height: 0;
background: url(../img/feed-bg-sprites.$5106.png) -600px bottom no-repeat;
_background: url(../img/feed-bg-sprites.$5106.png) -600px bottom no-repeat;
}

/*????????*/
.rich-content {
line-height: 20px;
color: #444;
font-size: 14px;
}
.rich-content p {
margin: 0 0 0.5em;
}

/*video*/
.feed-video .feed-bd .feed-ct {
margin-top: 10px;
}
.feed-video-img-holder {
position: relative;
float: left;
margin-right: 10px;
height: 113px;
overflow: hidden;
}
/*????????*/
.feed-video .feed-video-img, .feed-video .feed-video-img {
cursor: pointer;
width: 150px;
height: 113px;
}
/*??????*/
.feed-video .feed-video-play, .feed-video .feed-video-play {
position: absolute;
left: 50%;
top: 50%;
margin: -22px 0 0 -22px;
display: block;
width: 43px;
height: 48px;
background: url(../img/player.$295.png) no-repeat;
_background-image: url(/img/button/player-ie6.$642.png);
text-indent: -9999px;
}
/*???????*/
.feed-video .feed-video-info {
padding-top: 8px;
}

.feed-video .feed-video-cmt, .feed-video .feed-video-cmt {
line-height: 20px;
font-size: 14px;
font-weight: normal;
}



#content {
	width: 900px;
	margin: auto;
	top: 20px;
	position: relative;
}
.feed-bd .feed-ct a {
color: #444;
text-decoration: underline;
}

.rich-content .edui-filter-align-left {
text-align: left !important;
}

/*��Ӧ��*/
.feed-ft {
padding: 0 1px;
position: relative;
zoom: 1;
}

.feed-ft-bottom {
width: 544px;
overflow: hidden;
position: absolute;
left: 0;
top: 0;
z-index: 1;
border: none;
}

.feed-ft .feed-ft-triangle {
width: 15px;
height: 15px;
position: absolute;
top: -3px;
left: 435.5px;
z-index: 1;
background: url('../img/feed-ft-triangle.$5106.png') no-repeat;
}




#ajax-waiting{
    display: block;
    position: relative;
    left: 30%;
}